// * GLOBAL STYLES *

// - Colors
$red: #ff0000;

// - Font Families
$paragraph-font: serif;
$heading-font: sans-serif;

// - Font Sizes
$root-font-size: 16px;

// ADD MORE SECTIONS

:root {
    font-size: $root-font-size;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

