// * GLOBAL *
// - Variables
$font-family: sans-serif;

// - Font Size
$root-font-size: 16px;

// - Font Weights
$font-thin: 100;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// - Colors
$color-blue: #0000ff;

// - Layout & Design
$border-radius: .25rem;

// Setting root font size for assured REM unit size & accuracy
:root {
  font-size: $root-font-size;
}

// - Simple Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// - General
body {
  font-family: $font-family;
  padding: 1rem;
}

header {}

main {}

footer {}

h1, h2, h3, h4, h5, h6 {}

p {}

// * COMPONENTS *
// - Header Component
header {
  a.logo {
    color: $color-blue;
  }
  nav {
    ul {
      li {
        a {
          color: $color-blue;
        }
      }
    }
  }
}